@import 'src/_variables.scss';

.form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1080px;
    width: 860px;
    margin-top: 3.125rem;   
    
    &-button {
        width: 220px;
        height: 40px;   
        margin-top: 40px;
        background: #f8f7f7;
        font-weight: 500;
        border: 0;
        font-family: 'Raleway', sans-serif;
        color: #000000;
        float: right;
        font-weight: 900;
        line-height: 40px;
        font-size: 13px;
    }
}