.paralax-el {
    position: absolute;

    &-first-layer {
        width:60px;
        height: 60px;
        top: 40px;
        right: 20px;
        z-index: 2;
    }

    &-second-layer {
        width: 130px;
        height: 130px;
        top: 90px;
        right: 20px;
        z-index: 3;
    }

    &-third-layer {
        width: 180px;
        height: 180px;
        top: 150px;
        right: 20px;
        z-index: 4;
    }
}

.webpack {
    top: 300px;
    left: 305px;
}

.ps {
    top: 600px;
    left: 100px;
}

.figma {
    top: 460px;
    left: 0px;
}

.git {
    top: 75px;
    left: 40px;
}

.nodejs {
    top: 685px;
    left: -30px;
}

.html5 {
    top: 400px;
    left: 170px;
}

.css-3 {
    top: 50px;
    left: 250px;
}

.sass {
    top: 780px;
    left: 220px;
}

.java-script {
    top: 185px;
    left: 25px;
}

.react {
    top: 560px;
    left: 240px;
}

.redux {
    top: 830px;
    left: 10px;
}