@import 'src/_variables.scss';

.nav {
    padding-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    z-index: 10;
}

.nav__list {
    background-color: $dark;
    line-height: 3.125rem;
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    margin-right: -1.25rem;
    padding: 0 1rem;
    transition: 0.5s ease;
    transform-origin: right center;
    transform: scaleX(0) translateX(10%);
    opacity: 0;
}

.nav__list-active {
    transform: scaleX(1) translateX(0);
    opacity: 1;  
}

.nav__item {
    display: inline-block;
    margin-right: 1rem;
}

.nav__link {
    font-weight: 800;
    color: $white;
}

.nav__item:nth-last-child(1) {
    margin-right: 0;
}

.nav__link-active {
    border-bottom: 0.125rem solid $white;
}