@import 'src/_variables.scss';

.project {
    position: relative;
    min-width: 20rem;
    width: 22rem;
    background-color: $white;
    color: $dark;
    height: 18rem;

    &:hover &__bg-img {
        opacity: 0.5;
    }

    &__bg-img {
        width: 100%;
        height: 100%;
    }

    &__title-wrap {
        position: absolute;
        left: 1.5rem;
        bottom: 1.8rem;
        opacity: 0;
        transition: .5s;

    }

    &:hover &__title-wrap {
        opacity: 1;
    }

    &__title, &__subtitle {
        margin: 1rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    &-bigger {
        height: 22.5rem;
    }

    // Masonry
    &-item {
        width: 32%;
        margin-top: 1.5rem;

        &:nth-child(3n+1) { order: 1; }
        &:nth-child(3n+2) { order: 2; }
        &:nth-child(3n)   { order: 3; }

        &-home {
            width: 32%;
            margin-top: 1.5rem;

            &:nth-child(2n+1) {order: 1;}
            &:nth-child(2n) {order: 2;}
        }
    }
}
